<div class="video-container">
    <video autoplay muted loop>
        <source src="../../../assets/videos/banner-video.mp4" type="video/mp4">
    </video>
    <div class="video-overlayer">
        <h1 id="title">{{title}}</h1>
        <div class="toBottom">
            <a href="#navbar"><i class="large material-icons">expand_more</i></a>
        </div>
    </div>
</div>

<div id="navbar" class="scrollspy">
    <nav class="pushpin-container">
        <div class="nav-wrapper">
            <a href="#" data-activates="fe-SideNav" class="button-collapse"><i class="material-icons">menu</i></a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="#info">Info</a></li>
                <li><a href="#showroom">Showroom</a></li>
                <li><a href="#series">Series</a></li>
            </ul>
            <ul class="side-nav" id="fe-SideNav">
                    <li><a href="#info">Info</a></li>
                <li><a href="#showroom">Showroom</a></li>
                <li><a href="#series">Series</a></li>
            </ul>
        </div>
    </nav>
</div>

<div id="info" class="scrollspy">
    <div class="container">
        <div class="row">
            <div class="col s12 l10 offset-l1">
                <div class="info-text">
                    <h3 class="title">Top Cars</h3>
                    <p class="description">
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repudiandae repellat exercitationem vitae iste rem nulla, quia animi, ea eius temporibus quos nobis vel cupiditate, sequi ipsam quae cum assumenda tempora?Porro enim suscipit debitis earum mollitia. Nobis exercitationem odio a at.
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col s12 l4">
                <div class="info-item">
                    <img src="../../../assets/images/info1.jpg" class="responsive-img">
                    <div class="overlayer">
                        <span class="moreInfo">More info</span>
                    </div>
                </div>
            </div>
            <div class="col s12 l4">
                <div class="info-item">
                    <img src="../../../assets/images/info2.jpg" class="responsive-img">
                    <div class="overlayer">
                        <span class="moreInfo">More info</span>
                    </div>
                </div>
            </div>
            <div class="col s12 l4">
                <div class="info-item">
                    <img src="../../../assets/images/info3.jpg" class="responsive-img">
                    <div class="overlayer">
                        <span class="moreInfo">More info</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="showroom" class="scrollspy">
    <div class="carousel carousel-slider center" data-indicators="true">
        <div class="carousel-item">
            <img src="../../../assets/images/showroom1.jpg">            
        </div>
        <div class="carousel-item">
            <img src="../../../assets/images/showroom2.jpg">            
        </div>
        <div class="carousel-item">
            <img src="../../../assets/images/showroom3.jpg">            
        </div>
        <div class="carousel-item">
            <img src="../../../assets/images/showroom4.jpg">            
        </div>
        <div class="carousel-item">
            <img src="../../../assets/images/showroom5.jpg">            
        </div>
        <div class="carousel-item">
            <img src="../../../assets/images/showroom6.jpg">            
        </div>
        <div class="carousel-item">
            <img src="../../../assets/images/showroom7.jpg">            
        </div>
        <div class="carousel-item">
            <img src="../../../assets/images/showroom8.jpg">            
        </div>
    </div>
</div>

<div id="series" class="scrollspy">
    <div class="container">
        <div class="row">
            <div class="col s12">
                <div class="series-text">
                    <h3 class="title">Series</h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col s6 m4 l3">
               <div class="item-serie">
                    <div class="card-panel">
                        <span class="name">Serie </span> <span class="subname"><b>2</b></span>
                    </div>
               </div>
            </div>
            <div class="col s6 m4 l3">
               <div class="item-serie">
                    <div class="card-panel">
                        <span class="name">Serie </span> <span class="subname"><b>X</b></span>
                    </div>
               </div>
            </div>
            <div class="col s6 m4 l3">
                <div class="item-serie">
                    <div class="card-panel">
                        <span class="name">Serie </span> <span class="subname"><b>A1</b></span>
                    </div>
               </div>
            </div>
            <div class="col s6 m4 l3">
                <div class="item-serie">
                    <div class="card-panel">
                        <span class="name">Serie </span> <span class="subname"><b>A5</b></span>
                    </div>
               </div>
            </div>
            <div class="col s6 m4 l3">
                <div class="item-serie">
                    <div class="card-panel">
                        <span class="name">Serie </span> <span class="subname"><b>i</b></span>
                    </div>
               </div>
            </div>
            <div class="col s6 m4 l3">
               <div class="item-serie">
                    <div class="card-panel">
                        <span class="name">Serie </span> <span class="subname"><b>M</b></span>
                    </div>
               </div>
            </div>
            <div class="col s6 m4 l3">
               <div class="item-serie">
                    <div class="card-panel">
                        <span class="name">Serie </span> <span class="subname"><b>S</b></span>
                    </div>
               </div>
            </div>
            <div class="col s6 m4 l3">
               <div class="item-serie">
                    <div class="card-panel">
                        <span class="name">Serie </span> <span class="subname"><b>H</b></span>
                    </div>
               </div>
            </div>
        </div>
    </div>
</div>