@import '../node_modules/materialize-css/dist/css/materialize.min.css';
@import 'https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700';
@import 'https://fonts.googleapis.com/css?family=Anton';

@yellow: #FFFF00;
@semiBlack: #151515;

html, body, .block{
    height: 100%;
    background-color: #424242;
    letter-spacing: 0.17em;
}
b{
    font-family: 'Anton', sans-serif;
}
.video-container{
    overflow: hidden;
    position: relative;
    min-height: 100%;
    overflow: hidden;
    video{
        right: 0;
        bottom: 0;
        min-height: 100%;
        min-width: 100%;
    }
    .video-overlayer{
        position: absolute;
        top: 0;
        bottom: 0;
        background: rgba(0, 0, 0, 0.5);        
        width: 100%;
        #title{
            text-transform: uppercase;
            font-weight: bold;
            color: #f1f1f1;
            text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
            text-align: center;
            margin-top: 50px;
            font-size: 90px;            
            width: 500px;
            position: absolute;
            top: 50%;
            margin-top: -100px;
            line-height: 90px;
            right: 50%;
            margin-right: -250px;
            letter-spacing: 0.4rem;
        }
        .toBottom{
            position: absolute;
            right: 50%;
            bottom: 15%;
            cursor: pointer;
            text-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
            transition: 0.7s ease;
            a{
                color: #f1f1f1;
            }
            i{
                animation-duration: 1s;
                animation-name: moving;
                animation-iteration-count: infinite;
                animation-direction: alternate;
            }
            &:hover{
                a{
                    color: @yellow;
                }
                transition: 0.7s ease;
            }
        }
    }
}
.pin-top {
    position: relative;
}
.pin-bottom {
    position: relative;
}
.pinned {
    position: fixed !important;
}

nav, .side-nav{
    background-color: @semiBlack;
    z-index: 20;
    ul{
        li{
            a{
                color: #f1f1f1 !important;
                text-transform: uppercase;
                font-size: 14px;
                &:hover{
                    color: @yellow;
                }
            }
        }
    }
}

@keyframes moving{
    to{
        bottom: 15%;
        opacity: 0.2;
        font-size: 6rem;
        margin-right: -45px;
    }
    from{
        bottom: 18%;
        opacity: 1;
        font-size: 4rem;
        margin-right: -30px;
    }
}

#info{
    padding: 60px 0 20px 0;
    overflow: hidden;
    .info-text{
        .title{
            text-transform: uppercase;
            color: #f1f1f1;
            font-weight: 500;
            text-align: center;
        }
        .description{
            font-size: 14px;
            color: #f1f1f1;
            text-align: center;

        }
    }
    .info-item{
        position: relative;
        margin: 10px 0;
        .overlayer{
            position: absolute;
            background-color: rgba(0, 0, 0, 0.2);
            width: 100%;
            top: 0;
            bottom: 0;
            .moreInfo{
                background-color: @semiBlack;
                width: 100%;
                position: absolute;
                bottom: 0;
                text-align: center;
                font-size: 16px;
                color: #f1f1f1;
                text-transform: uppercase;
                font-weight: 500;
                padding: 3px 0;
                cursor: pointer;                
                transition: 0.8s ease;
                &:hover{
                    color: @yellow;
                    padding: 20px 0 20px 0;
                    transition: 0.4s ease;
                }
            }
        }
    }
}
#showroom{
    padding: 60px 0;
}
#series{
    padding: 60px 0 20px;
    .series-text{
        .title{
            text-transform: uppercase;
            color: #f1f1f1;
            font-weight: 500;
            text-align: center;
        }
    }
    .item-serie{
        .card-panel{
            background-color: #6E6E6E;            
            text-transform: uppercase;
            letter-spacing: -3px !important;
            padding: 5px 0;
            text-align: center;
            color: #f1f1f1;
            box-shadow: 0 0 10px @semiBlack;
            margin: 10px 0;
            cursor: pointer;
            .name{
                margin-left: 10px;
                z-index: 2;
                font-size: 45px;
                pointer-events: none;
            }
            .subname{
                margin-right: 10px;
                z-index: 1;
                b{
                    font-size: 70px;
                    color: #BDBDBD;
                    transition: 0.4s ease;
                    pointer-events: none;
                }
            }
            &:hover{
                .subname{
                    b{
                        color: @yellow;
                        transition: 0.4s ease;
                    }
                }
            }           
        }
    }
}
@media all and (max-width: 480px) {
    .video-container{
        .video-overlayer{
            #title{
                font-size: 60px;
                line-height: 60px;
            }
        }
    }
    #series{
        .item-serie{
            .card-panel{
                .name{
                    font-size: 35px;
                }
            }
        }
    }
}
//icons material-css
@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/materialicons/v32/2fcrYFNaTjcS6g4U3t-Y5ZjZjT5FdEJ140U2DJYC3mY.woff2) format('woff2');
}
.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}
#sidenav-overlay{
    z-index: 10;
}